@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@font-face {
    font-family: 'harryP';
    src: url("../font/harryP.ttf");
   }
   
#sectionEtudes {
    background-color: cornflowerblue;
}
#sectionSport {
    background-color: rgb(100, 237, 203);
}
#sectionLoisirs {
    background-color: rgb(100, 237, 118);
}
#sectionReve {
    background-color: rgb(221, 100, 237);
}

.belleImage {
    border-image: 1px solid #dddddd;
    border-radius: 4px;
}

.bellImage:hover {
   box-shadow: 00 2px 1 px rgba (0, 186, 0.5);
}
h1.CGP {
    color: darkred;
    font-size: 28px;
    font-family: 'harryP';
}

h2.CGPG {
    color: rgb(0, 83, 139);
    font-size: 17px;
    font-family: 'Poiret One', cursive;
}
